header
          div.continer
            div.header__div--first  
                h1.header__heading Hazze.
            div.header__div--href   
                a(href="#") HOME 
                a(href="") Abaut Us 
                a(href="") Blog 
                a(href="") Galerry 
                a(href="") Contact 
        main.main