main 
  section.section_hero 
    div.continer
     h3 OFFICE FASHION
     h1 New Fashion
     p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed <br>do eiusmod tempor incididunt<br> ut labore et dolore magna aliqua. 
     button Read More
  section.section_about 
    div.section_about__div-top.continer
      div.section_about__div-left 
       img(src="https://preview.colorlib.com/theme/hazze/img/about-us.jpg.webp", alt="")
      div.section_about__div-right  
       h3 ABOUT US
       h2 About Story
       p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
       p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
       button Read More
    div.section_about__div-button.continer
      div.section_about__div-button-top
       h3 OUR SERVICES
       h2 Best Services Save The World 
      div.section_about__div-button-button
        div.card 
         img(src="https://preview.colorlib.com/theme/hazze/img/services/service-1.png.webp", alt="")
         h4 Modern Design
         p Brook embraces a modern look with various enhanced pre-defined page elements.
        div.card 
         img(src="https://preview.colorlib.com/theme/hazze/img/services/service-2.png.webp", alt="")
         h4 Content
         p Brook embraces a modern look with various enhanced pre-defined page elements.
        div.card
         img(src="https://preview.colorlib.com/theme/hazze/img/services/service-3.png.webp", alt="")
         h4 Make Up
         p Brook embraces a modern look with various enhanced pre-defined page elements.
  section.section_PORTFOLIO 
    div.section_PORTFOLIO__div.continer 
     div.section_PORTFOLIO__div-top 
      h3 OUR PORTFOLIO
      h2 Turn Your Dream Into Reality
     div.section_PORTFOLIO__div-button
  section.section_World 
   div.section_World__div.continer 
    div.section_World__div-top 
      h1 zfbcznz
    div.section_World__div-button   
   
  section 
  section 