main 
  section.section_hero 
    div.continer
     h3 OFFICE FASHION
     h1 New Fashion
     p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed <br>do eiusmod tempor incididunt<br> ut labore et dolore magna aliqua. 
     button Read More
  section 
  section 
  section 
  section 
  section 