main 
  section.section_hero 
    div.continer
     h2 OFFICE FASHION
     h1 New Fashion
     p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed <br>do eiusmod tempor incididunt ut labore et dolore magna <br>aliqua. 
     button Read More
  section 
  section 
  section 
  section 
  section 